[Desktop Entry]
Categories=Network;InstantMessaging;Chat
Exec=/home/yoptabyte/.local/bin/vesktop-bootstrap %U
GenericName=Internet Messenger
Icon=vesktop
Keywords=discord;vencord;electron;chat
Name=Vesktop
StartupWMClass=Vesktop
Type=Application
Version=1.5
